{{! Put your header HTML text here }}
<div style="display:flex;justify-content:space-between;align-items:center">
  <div
    style="flex:1;display:flex;text-align:center; flex-direction:column; align-items:center"
    dir="rtl"
    lang="ar"
  >
    <img
      src="./assets/yemen.png"
      alt="Logo"
      style="width: 50%; height: auto;"
    />
    <h2 style="margin: 0;font-size:1.5rem">وزارة التربية والتعليم والبحث العلمي</h2>
    <h3 style="margin: 10px 0 0;font-size:1.5rem">الجامعة التخصصية الحديثة</h3>
    <h4 style="margin: 10px 0 0;font-size:1.2rem">الكلية: الهندسة والحوسبة
      الذكية</h4>
    <h4 style="margin: 10px 0 0;font-size:1.2rem">القسم: تقنية المعلومات</h4></div>
  <div
    style="flex: 1; display:flex;  justify-content:center;align-items:center"
  >
    <img
      src="../assets/logo.png"
      alt="Logo"
      style="width: 60%; height: auto;"
    />
  </div>
  <div
    style="flex: 1;  display:flex;  text-align:center; flex-direction:column"
  >
    <h2 style="margin: 20px 0 0; font-size:1.2rem">Republic of Yemen</h2>
    <h3 style="margin: 10px 0 0;font-size:1.2rem">Ministry of Education and
      Scientific Research</h3>
    <h4 style="margin: 10px 0 0;font-size:1.2rem">Modern Specialized University</h4>
    <h4 style="margin: 10px 0 0;font-size:1rem">Faculty: Engineering and Smart
      Computing</h4>
    <h4 style="margin: 10px 0 0;font-size:1rem">Department: Information
      Technology</h4>
  </div>
</div>
<div
  style="height: 1px; width: 100%; background-color: #000; margin: 20px 0"
></div>
